In [42]:
#import packages


import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


#%matplotlib widget
%matplotlib inline

In [77]:
ins= pd.read_csv("allen.txt", sep='        ', header=0)
ins.head()
ins['Index  ---date--- --time--']= ins['Index  ---date--- --time--'].str[6:]
ins['Index  ---date--- --time--'] = pd.to_datetime(ins['Index  ---date--- --time--'])
ins

/var/folders/_0/wy7tb6qj0kn08q2vk43vjwb40000gn/T/ipykernel_4622/2365236164.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ins= pd.read_csv("allen.txt", sep='        ', header=0)

,Index ---date--- --time--,WBGT,unit,Ta,unit.1,Tg,unit.2,RH,unit.3
0,2022-01-01 11:21:28,60.9,F,73.1,F,74.1,F,30.5,%
1,2022-01-01 11:21:56,61.0,F,73.3,F,74.3,F,30.4,%
2,2022-01-01 11:22:26,61.1,F,73.4,F,74.3,F,30.4,%
3,2022-01-01 11:22:56,61.1,F,73.5,F,74.4,F,30.2,%
4,2022-01-01 11:23:26,61.1,F,73.5,F,74.5,F,30.0,%
...,...,...,...,...,...,...,...,...,...
9995,2022-11-04 22:38:54,63.5,F,73.2,F,73.0,F,44.5,%
9996,2022-11-04 22:39:24,63.5,F,73.1,F,73.0,F,44.4,%
9997,2022-11-04 22:39:54,63.5,F,73.1,F,73.1,F,44.3,%
9998,2022-11-04 22:40:24,63.5,F,73.1,F,73.2,F,44.2,%
9999,2022-11-04 22:40:54,63.5,F,73.2,F,73.2,F,44.1,%

In [78]:
for col in ins.columns:
    print(col)

Index  ---date--- --time--
  WBGT
 unit
   Ta
 unit.1
   Tg
 unit.2
   RH
 unit.3